name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install and set Flutter version
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'beta'
      - name: Get packages
        run: flutter pub get
#      - name: Analyze
#        run: flutter analyze
      - name: Run tests
        run: flutter test
